/* top player style  */
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    background-color: rgb(219, 219, 196);
}
main{
    display: flex;
    justify-content: center;
}
.top-player{
    margin-bottom: 30px;
}
.section-title{
   color: darkcyan;
   font-size: 24px;
   margin-top: 3px;
}
.container{
    background-color: #ffff;
    width: 870px;
    padding:33px 30px   ;

}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 16px;
}
.player{
    display: flex;
    align-items: center;
}
hr{
    border: 1px solid rgb(172, 220, 238);
    margin-bottom:27px ;
}
.blog{
    display: flex;
}
.bloginfo{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9f9f9f;
    font-size: 16px;
}
.blog-author a {
    text-decoration: none;
    font-size: 16px;
    color: #562f56;
}
.blog .thumnel img {
    width: 177px;
    height: 177px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}